.slide5 {
  background: url(../assets/slide5/slide5-bg.png) no-repeat;
  background-size: 750px 1334px;
  .content-wrap {
    top: 68px;
  }
  .title .text {
    background: url(../assets/slide5/title.png) no-repeat center top;
    background-size: 209px 49px;
  }
  .content1 {
    height: 1032px; margin-top: 18px;
    position: relative;
    .cont-output {
      width: 538px; height: 736px;
      position: absolute; top: 72px; left: 74px;
      .ct-center {
        position: absolute; top: 280px; left: 245px;
        width: 76px; height: 100px; padding-top: 64px;
        background: url(../assets/slide5/center-bg.png) no-repeat center top;
        background-size: 65px 52px; z-index: 9;
        p { 
          font-size: 26px; color: #a5a5a5; text-align: center;position: relative;
        }
      }
      .ct-lay {
        position: absolute;
      }
      .ct-diangong {
        top: 0; right: 40px; 
        width: 100px; height: 124px;
      }
      .ct-huanjing {
        top: 102px; left: 0; 
        width: 100px; height: 124px;
      }
      .ct-anfang {
        left: 66px; bottom: 178px;  
        width: 100px; height: 124px;
      }
      .ct-jiadian {
        width: 100px; height: 124px;
        right: 0; bottom: 260px;  
      }
      .ct-chuandai{
        right: 118px; bottom: 0; 
        width: 100px; height: 124px;
      }
      .ct-out-item {
        width: 100px; height: 124px; position: relative; z-index: 2;
        display: flex; justify-content: center; align-items: flex-end;
        &>p {
          font-size: 22px; color: #3e8de5; text-align: center;
        }
        &.diangong {
          background: url(../assets/slide5/ct-bg-diangong.png) no-repeat center top;
          background-size: 78px 91px;
        }
        &.huanjing {
          background: url(../assets/slide5/ct-bg-huanjing.png) no-repeat center top;
          background-size: 78px 91px;
        }
        &.anfang {
          background: url(../assets/slide5/ct-bg-anfang.png) no-repeat center top;
          background-size: 78px 91px;
        }
        &.chuandai {
          background: url(../assets/slide5/ct-bg-chuandai.png) no-repeat center top;
          background-size: 78px 91px;
        }
        &.jiadian {
          background: url(../assets/slide5/ct-bg-jiadian.png) no-repeat center top;
          background-size: 78px 91px;
        }
      }
      .line > i{ 
        position: absolute; background: #3e8de5; height: 2px;
        transform-origin: 0 0;
      }
      .line1 {
        width: 80px; height: 128px; position: absolute;
        top: -138px; right: -70px;
        i {
          width: 145px; bottom: 0; left: 0;
          transform: rotate(-58deg);
        }
      }
      .line2 {
        width: 144px; height: 94px; position: absolute;
        top: -102px; left: -146px;
        i {
          width: 166px; left: 140px; bottom: 0;
          transform: rotate(-146deg);
        }
      }
      .line3 {
        width: 90px; height: 105px; position: absolute;
        bottom: -65px; left: -90px; 
        i {
          width: 136px; left: 90px; top: 0;
          transform: rotate(130deg);
        }
      }
      .line4 {
        width: 58px; height: 242px; position: absolute;
        bottom: -222px; left: 60px;
        i {
          width: 247px; left: 0; top: 0;
          transform: rotate(76deg);
        }
      }
      .line5 {
        width: 94px; height: 42px; position: absolute;
        bottom: 10px; left: 100px;
        i {
          width: 95px; left: 0; top: 0;
          transform: rotate(24deg);
        }
      }
      .tip-diangong {
        width: 308px; height: 243px; display: none;
        position: absolute; top: -92px; left: -306px; z-index: 1;
        background: url(../assets/slide5/tip-diangong.png) no-repeat center top;
        background-size: 308px 243px;
      }
      .tip-huanjing {
        width: 288px; height: 263px; display: none;
        position: absolute; top: -204px; left: 72px; z-index: 1;
        background: url(../assets/slide5/tip-huanjing.png) no-repeat center top;
        background-size: 288px 263px;
      }
      .tip-anfang {
        width: 220px; height: 381px; display: none;
        position: absolute; top: 50px; left: -130px; z-index: 1;
        background: url(../assets/slide5/tip-anfang.png) no-repeat center top;
        background-size: 220px 381px;
      }
      .tip-chuandai {
        width: 217px; height: 277px; display: none;
        position: absolute; top: 38px; left: 94px; z-index: 1;
        background: url(../assets/slide5/tip-chuandai.png) no-repeat center top;
        background-size: 217px 277px;
      }
      .tip-jiadian {
        width: 230px; height: 348px; display: none;
        position: absolute; top: 44px; left: -10px; z-index: 1;
        background: url(../assets/slide5/tip-jiadian.png) no-repeat center top;
        background-size: 230px 348px;
      }
      .tip-active {
        display: block;
      }
    }
    
  }
}