.slide7 {
  .content-wrap {
    top: 68px;
  }
  .title .text {
    background: url(../assets/slide6/title.png) no-repeat center top;
    background-size: 209px 49px;
  }
  .cont-1 {
    width: 150px; height: 64px; line-height: 64px;  margin: 56px auto;
    font-size: 28px; text-align: center; color: #3e8de5;
    background: url(../assets/slide6/ct-tit-bg.png) no-repeat center top;
    background-size: 150px 64px;
  }
  .cont-2 {
    width: 707px; margin: 146px auto;
    .item {
      width: 707px; height: 133px;
      background: url(../assets/slide7/con-bg.png) no-repeat center top;
      background-size: 707px 133px;
      display: flex; align-items: center;
      &:not(:first-child) {
        margin-top: 55px;
      }
      &>h3 {
        font-size: 36px; color: #3e8de5;
        flex: 0 0 180px;
        display: flex; justify-content: center; align-items: center;
        margin-top: -10px;
      }
      &>p {
        flex: 0 0 486px;
        font-size: 26px; color: #bbb; line-height: 36px;
        display: flex; justify-content: center; align-items: center;
      }
    }
  }
}