.slide9 {
  .content-wrap {
    top: 68px;
  }
  .title .text {
    background: url(../assets/slide9/title.png) no-repeat center top;
    background-size: 209px 49px;
  }
  .cont-1 {
    width: 630px; padding-left: 40px; margin: 50px auto;
    &>p {
      font-size: 30px; color: #2e5aab;
      line-height: 36px;
    }
  }
  .cont-2 {
    width: 630px; height: 470px;
    padding: 68px 25px 0 34px;
    background: url(../assets/slide9/cont-bg.png) no-repeat center top;
    background-size: 630px 470px;
    margin: 62px auto; 
    .txt1 {
      font-size: 30px; color: #bbb;
    }
    .txt2 {
      width: 450px; height: 85px; margin-top: 45px;
      background: url(../assets/slide9/number.png) no-repeat center top;
      background-size: 450px 85px;
    }
    .txt3 {
      font-size: 30px; color: #bbb; margin-top: 35px;
    }
    .txt4 {
      font-size: 30px; color: #2e5aab; line-height: 38px; margin-top: 40px;
    }
  }
  .cont-3 {
    width: 530px; height: 100px; margin: 116px auto;
    display: flex; align-items: center;
    &>span {
      width: 104px; height: 100px;
      background: url(../assets/slide9/phone-icon.png) no-repeat left center;
      background-size: 82px 82px;
    }
    .cont {
      display: flex; flex: 0 0 1;
      flex-direction: column; height: 100px;
      justify-content: center;
      p {
        font-size: 27px; color: #bbb;
      }
      h3 {
        font-size: 36px; color: #fff; margin-top: 16px;
      }
    }
  }
  .apply-btn {
    width: 250px; height: 70px; margin: 70px auto; display: block;
    background: url(../assets/slide9/shenqing.png) no-repeat left center;
    background-size: 250px 70px;
  }
}