.slide8 {
  .content-wrap {
    top: 68px;
  }
  .title .text {
    background: url(../assets/slide8/title.png) no-repeat center top;
    background-size: 209px 49px;
  }
  .cont-1 {
    width: 78px; margin: 94px auto;
    .item {
      width: 78px; height: 78px;
      position: relative;
      &>span {
        width: 78px; height: 78px;
        display: block;
      }
      &>.content {
        position: absolute;
        top: 32px; width: 272px;
        &>h3 {
          font-size: 30px; color: #3e8de5;
        }
        &>p {
          color: #bbb; font-size: 24px;
          line-height: 36px; margin-top: 15px;
        }
      }
    }
    div:nth-of-type(odd) {
      .content {
        left: 100px;
        &>h3,&>p { text-align: left;}
      }
    }
    div:nth-of-type(even) {
      .content {
        left: -288px;
        &>h3,&>p { text-align: right;}
      }
    }
    .item1>span{
      background: url(../assets/slide8/con-t-1.png) no-repeat center top;
      background-size: 78px 78px;
    }
    .item2>span {
      background: url(../assets/slide8/con-t-2.png) no-repeat center top;
      background-size: 78px 78px;
    }
    .item3>span {
      background: url(../assets/slide8/con-t-3.png) no-repeat center top;
      background-size: 78px 78px;
    }
    .item4>span {
      background: url(../assets/slide8/con-t-4.png) no-repeat center top;
      background-size: 78px 78px;
    }
    .item5>span {
      background: url(../assets/slide8/con-t-5.png) no-repeat center top;
      background-size: 78px 78px;
    }
    .line {
      width: 6px; margin: 0 auto; display: block;
      background: url(../assets/slide8/line.png) no-repeat center top;
      background-size: 6px 122px;
      &.line1, &.line3 {
        height: 112px;
      }
      &.line2 {
        height: 104px;
      }
      &.line4 {
        height: 122px;
      }
    }
  }
}