.slide1 {
  .first-screen-bg {
    width: 100%
  }
  .logo {
    width: 308px; height: 40px;
    position: absolute; top: 54px; left: 56px;
  }
  .first-content {
    width: 620px; height: 621px;
    position: absolute; top: 50%; left: 50%;
    margin: -310px 0 0 -310px; 
    .iimg {
      position: absolute; top: 50%; left: 50%;
    }
    .imgb {
      width: 620px; height: 621px;
      margin: -310px 0 0 -310px; 
      z-index: 1;
    }
    .imgt {
      width: 475px; height: 476px;
      margin: -238px 0 0 -238px; 
      z-index: 2;
    }
    .first-title {
      width: 100%;
      font-size: 42px; color: #fff; text-align: center;
      position: absolute; top: 50%; left: 0;
      margin-top: -21px; z-index: 3;
    }
    .hewu-logo {
      width: 187px; height: 70px;
      position: absolute; left: 50%; bottom: -170px;
      margin-left: -94px;
    }
  }
}