.slide3 {
  .title {
    width: 340px;
    height: 79px;
    margin: 0 auto;
    background: url(../assets/slide3/title.png) no-repeat;
    background-size: 340px 79px;
  }
  .content-1 {
    width: 750px;
    height: 306px;
    margin: 38px auto 0;
    position: relative;
    .con-bg {
      width: 750px;
      height: 244px;
      background: url(../assets/slide3/ct-1-bg.png) no-repeat;
      background-size: 750px 244px;
    }
    .con-info {
      width: 636px;
      height: 225px;
      position: absolute;
      top: 80px;
      left: 50%;
      margin-left: -318px;
      background: url(../assets/slide3/ct-1.png) no-repeat;
      background-size: 635px 225px;
    }
  }
  .content-2 {
    width: 590px;
    height: 666px;
    margin: 32px auto;
    position: relative; left: 30px;
    .c2-1 {
      position: absolute; top: 0; left: 0;
      width: 258px; height: 231px;
      background: url(../assets/slide3/ct-2-1.png) no-repeat;
      background-size: 258px 231px;
    }
    .c2-2 {
      position: absolute; top: 150px; right: 0;
      width: 257px; height: 277px;
      background: url(../assets/slide3/ct-2-2.png) no-repeat;
      background-size: 257px 277px;
    }
    .c2-3 {
      position: absolute; top: 346px; left: 0;
      width: 258px; height: 322px;
      background: url(../assets/slide3/ct-2-3.png) no-repeat;
      background-size: 258px 322px;
    }
    .line1 {
      position: absolute; top: 129px; left: 209px;
      width: 161px; height: 69px;
      background: url(../assets/slide3/line-1.png) no-repeat;
      background-size: 161px 69px;
    }
    .line2 {
      position: absolute; top: 307px; left: 247px;
      width: 127px; height: 97px;
      background: url(../assets/slide3/line-2.png) no-repeat;
      background-size: 127px 97px;
    }
  }
}